<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAftA2n6e9h0m+X/Wf4UJm8wQAAAACAAAAAAAQZgAAAAEAACAAAABqUvSUgMy9rMc0dYU+ugx9HKQbDC6PPAmR3Yvj3Dr/dQAAAAAOgAAAAAIAACAAAACeAwmXRKYdhHAV+bkDG9OluoxIxOZFZW1DLC8TFTSwgDAAAAC4yk4H1LGsVujGptHqj8tkNBvni02poJ3VMyDdtrWphmiac+O4f9S8q84wxn+VJtVAAAAAYwXeH+2/0iktfTtkBnMWNdQyN2932h5g0NVL1OplwrI9AWbHmqkwYuIfweA2wGjlLZf6U/5nRDMrhxWkVvwBnQ==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>